In [72]:
import pandas as pd
import numpy as np
data = pd.read_csv('C:/Users/ASUS/Documents/Python_Scripts/sampleData.csv', sep = ",")

In [73]:
data

  key vendor  tran_date  Inv_amt  seqno
0   A  alpha  2/21/2017      100      1
1   A  alpha  2/21/2017      100      2
2   A  alpha  2/14/2017       50      3
3   B  alpha  2/21/2017      150      4
4   B  alpha  2/21/2017      300      5
5   C  alpha  1/31/2017       20      6

In [74]:
data[data.duplicated(['key', 'vendor', 'tran_date'], keep = False) ]

  key vendor  tran_date  Inv_amt  seqno
0   A  alpha  2/21/2017      100      1
1   A  alpha  2/21/2017      100      2
3   B  alpha  2/21/2017      150      4
4   B  alpha  2/21/2017      300      5

In [12]:
#Now what I want to do is calculate percent difference

In [75]:
lagdt = data['tran_date']
lagdt

0    2/21/2017
1    2/21/2017
2    2/14/2017
3    2/21/2017
4    2/21/2017
5    1/31/2017
Name: tran_date, dtype: object

In [76]:
data['lagdt'] = lagdt.shift(1, axis = 0)
data

  key vendor  tran_date  Inv_amt  seqno      lagdt
0   A  alpha  2/21/2017      100      1        NaN
1   A  alpha  2/21/2017      100      2  2/21/2017
2   A  alpha  2/14/2017       50      3  2/21/2017
3   B  alpha  2/21/2017      150      4  2/14/2017
4   B  alpha  2/21/2017      300      5  2/21/2017
5   C  alpha  1/31/2017       20      6  2/21/2017

In [83]:
data2 = data.ix[[not i for i in data.duplicated(['key'])], 'lagdt']
data2

0          NaN
3    2/14/2017
5    2/21/2017
Name: lagdt, dtype: object

In [86]:
pd.DataFrame.set_value?

In [49]:
data_n = data.set_index(['key','seqno'])
data_n

          vendor  tran_date  Inv_amt      lagdt
key seqno
A   1      alpha  2/21/2017      100        NaN
    2      alpha  2/21/2017      100  2/21/2017
    3      alpha  2/14/2017       50  2/21/2017
B   4      alpha  2/21/2017      150  2/14/2017
    5      alpha  2/21/2017      300  2/21/2017
C   6      alpha  1/31/2017       20  2/21/2017

In [50]:
data.groupby('key')['lagdt'].first()

key
A    2/21/2017
B    2/14/2017
C    2/21/2017
Name: lagdt, dtype: object

In [52]:
pd.DataFrame.first?